</div>
<div id="accesosRapidos">
	<h2 class="hidden">Accesos Rápidos</h2>
	<ul>
		<li><a class="inicio" href="{{globals.base_url}}" title="Página inicial">Página inicial</a></li>
		<li><a class="rss" href="{{globals.base_url}}rss.php" title="Feed RSS">Novedades en formato <abbr title="Really Simple Syndication">RSS</abbr></a></li>
		<li><a class="ayuda" href="{{globals.base_url}}help.php" title="Ayuda" rel="help">Ayuda</a></li>
		<li><a class="contacto" href="{{globals.base_url}}contact.php" title="Contacto" rel="contact">Contacto</a></li>
		<li><a class="mapaWeb" href="{{globals.base_url}}sitemap.php" title="Mapa web">Mapa Web</a></li>
	</ul>
</div>

<div id="footer">
	<div class="goTop"><a href="#header" title="Subir al inicio de la p&aacute;gina">Arriba <span>&uarr;</span></a></div>
	<div class="footerColumn">
		<ul>
			<li><a href="{{globals.base_url}}about.html">Sobre Libuku</a></li>
			<li><a href="http://libuku.wordpress.com/">Blog de Libuku</a></li>
		</ul>
	</div>
	<div class="footerColumn">
		<ul id="footerCredits">
			<li class="design">Dise&ntilde;ado por <a href="http://www.almorca.es/" rel="author">Almorca</a></li>
			<li class="hosting">Hospedado en OVH</li>
			<li class="icons">Iconos de <a href="http://www.famfamfam.com/lab/icons/silk/" rel="external">famfamfam</a></li>
		</ul>
	</div>
	<div class="footerColumn">
		<ul id="footerValid">
			<li><a href="http://validator.w3.org/check?uri=referer">XHTML v&aacute;lido</a></li>
			<li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS v&aacute;lido</a></li>
			<li><a href="http://www.w3.org/WAI/WCAG1AA-Conformance"	title="Explicación del Nivel Doble-A de Conformidad">Nivel AA de Accesibilidad</a></li>
		</ul>
	</div>
	<p>© <a href="http://www.almorca.es/">Alejandro Moreno Calvo</a></p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-137251-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>